{% extends 'base/base.html' %}

{% block contenido %}
<div class="container" style="min-height: 100vh; overflow-y: auto;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4 titulo-form">Registrarme</h1>

            <form method="post" enctype="multipart/form-data" class="needs-validation p-4 shadow-lg rounded" novalidate style="background-color: #ffffff;">
                {% csrf_token %}

                {% if mensajeCorrecto %}
                    <div class="alert alert-success" role="alert">
                        {{ mensajeCorrecto }}
                    </div>
                {% endif %}

                <!-- Errores generales del formulario -->
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- Campos del formulario -->
                <div class="mb-3">
                    <label for="{{ form.username.id_for_label }}" class="form-label">Nombre de usuario</label><br>
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.username.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.first_name.id_for_label }}" class="form-label">Nombre</label><br>
                    {{ form.first_name }}
                    {% if form.first_name.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.first_name.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.last_name.id_for_label }}" class="form-label">Apellido</label><br>
                    {{ form.last_name }}
                    {% if form.last_name.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.last_name.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!--IMAGEN-->
                <div class="mb-3">
                    <label for="{{ form.last_name.id_for_label }}" class="form-label">Foto de perfil</label><br>
                    {{ form.imagen }}
                    {% if form.imagen.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.imagen.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.email.id_for_label }}" class="form-label">Correo electrónico</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.password1.id_for_label }}" class="form-label">Contraseña</label>
                    {{ form.password1 }}
                    {% if form.password1.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.password1.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.password2.id_for_label }}" class="form-label">Confirmar contraseña</label>
                    {{ form.password2 }}
                    {% if form.password2.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.password2.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <hr class="my-4">

                <button class="w-100 btn btn-lg btn-primary" type="submit">Registrarme</button>
            </form>

        </div>
    </div>
</div>

{% endblock contenido %}
