body {
    background-image: url('../image/background_home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh; /* Asegura que el body tenga al menos la altura de la ventana del navegador */
    margin: 0;
    overflow-y: auto; /* Permite desplazamiento vertical */
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}


.a-nav {
    color: #000 !important; /* Color negro */
    font-weight: bold; /* Texto en negrita */
    padding: 10px 15px; /* Espaciado alrededor del texto */
    text-transform: uppercase; /* Texto en mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
    transition: all 0.3s ease; /* Transición suave para efectos hover */
}
.a-nav:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco semitransparente al pasar el ratón */
    border-radius: 5px; /* Bordes redondeados */
    color: black !important; /* Cambio de color del texto al pasar el ratón */
}
  /* Estilo para el enlace activo */
.a-nav.active {
    background-color: rgba(255, 255, 255, 0.2) !important; /* Fondo blanco semitransparente */
    color: #000 !important; /* Texto negro */
}

.txt-1 {
    font-weight: 700;
}
.txt-2 {
    font-weight: 700;
}
.text-a {
    font-weight: 900;
}
.titulo-form {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra con desplazamiento horizontal y vertical */
}
