{% extends 'base/base.html' %}

{% block contenido %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="text-center mb-4 custom-shadow">EDITAR PRODUCTO</h1>
                
                <form action="" method="post" class="custom-shadow ">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label for="{{ form.nombre.id_for_label }}" class="form-label fw-bold">Nombre:</label><br>
                        {{ form.nombre }}
                        {% if form.nombre.errors %}
                            <div class="invalid-feedback d-block">
                                {% for error in form.nombre.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.descripcion.id_for_label }}" class="form-label fw-bold">Descripción:</label><br>
                        {{ form.descripcion }}
                        {% if form.descripcion.errors %}
                            <div class="invalid-feedback d-block">
                                {% for error in form.descripcion.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.categoria.id_for_label }}" class="form-label fw-bold">Categoría:</label><br>
                        {{ form.categoria }}
                        {% if form.categoria.errors %}
                            <div class="invalid-feedback d-block">
                                {% for error in form.categoria.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.precio.id_for_label }}" class="form-label fw-bold">Precio:</label><br>
                        {{ form.precio }}
                        {% if form.precio.errors %}
                            <div class="invalid-feedback d-block">
                                {% for error in form.precio.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <button class="w-100 btn btn-primary btn-lg mt-3" type="submit">Guardar</button>
                </form>
            </div>
        </div>
    </div>

    <style>
        .custom-shadow {
            box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Ajusta el nivel de sombra según tu preferencia */
            padding: 10px;
            background-color: #f8f9fa; /* Color de fondo */
            border-radius: 5px;
        }
    </style>
{% endblock contenido %}
