{% extends 'base/base.html' %}

{% block contenido %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">LISTA DE FAVORITOS</h1>
</div>

<div class="row">
    <div class="col">

        <table class="table">

            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>

            <tbody>

                {% for p in productos %}
                    <tr>
                        <th scope="row">{{p.nombre}}</th>
                            <td class="descripcion-columna">
                                {{p.descripcion}}
                            </td>
                            <td>
                                <a href="#" class="btn btn-primary btn-sm disabled">Eliminar</a>
                                <a href="#" class="btn btn-primary btn-sm disabled">Ver detalle</a>
                            </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

        {% include 'base/paginacion.html' %}

    </div>
</div>

<style>
    .descripcion-columna {
        /* Ajusta el ancho máximo como un porcentaje del ancho de la tabla */
        max-width: 50vh; /* Ejemplo: 50% del ancho total de la tabla */
        white-space: nowrap; /* Evita el salto de línea */
        overflow: hidden; /* Oculta el contenido que desborda */
        text-overflow: ellipsis; /* Muestra puntos suspensivos (...) */
    }
</style>

{% endblock contenido %}