{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

    <!-- <hr class="featurette-divider"> -->
    <div class="row featurette">
        <h2 class="featurette-heading fw-normal lh-1">PERFIL</h2>

        <hr class="featurette-divider my-5 border-3 border-dark">

        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1" style="margin-bottom: 20px;">{{usuario.last_name}}, {{usuario.first_name}}<span class="text-body-secondary"> ({{usuario.username}}) </span></h2>

            <hr class="featurette-divider my-2 border-3 border-dark">
            
            <p class="text-dark font-weight-bold" style="font-size: 20px;"><i class="fas fa-envelope"></i> Correo electrónico</p>
            <p style="margin-left: 20px;">{{usuario.email}}</p>
            <hr class="featurette-divider my-1 border-3 border-dark">

            <p class="text-dark font-weight-bold" style="font-size: 20px;"><i class="fas fa-sign-in-alt"></i> Fecha de alta</p>
            <p style="margin-left: 20px;">{{usuario.date_joined}}</p>
            <hr class="featurette-divider my-1 border-3 border-dark">

        </div>
        <div class="col-md-5">
            {% if usuario.imagen %}
                <img height="300px" src="{{usuario.imagen.url}}">
            {% else %}
                <img height="300px" src="{% static 'image/icon_user.jpg' %}">
            {% endif %}
        </div>
    </div>

{% endblock contenido %}